@font-face{
  font-family: "Gotham";
  src: url('./fonts/Gotham-Medium.otf');
}
@font-face {
  font-family: "Gotham-Light";
  src: url('./fonts/Gotham-Light.otf');
}
@font-face{
  font-family: "Klavika-Light";
  src: url("./fonts/Klavika Light.otf");
}

.header{
    /*width: 1920px;*/
    width: 100%;
    /*height: 900px;*/
    height: 50em;
    background: url(./imgs/fundo-ceu-final.png);
    background-size: cover;
    background-position: top center;
    text-align: center;
    font-family: Klavika;
    }
    
    .header .borboleta{
      width: 14%;
      height: 16%;
      object-fit: contain;
      margin: 9em 6em -6em 0;
      display: inline-block;
    }
    
    .header .embratel{
      width: 10%;
      height: 12%;
      float: left;
      margin-left: 4em;
      margin-top: 3em;
    }
    
    .header .logo_oc{
      width: 4%;
      height: 15%;
      margin-top: 2.5em;
      margin-right: 4em;
      float: right;
    }
    
    .header .title{
      margin-top: 1.5em;
      font-size: 3.6em;
      color: white;
      font-size: 100px;
      font-weight: 500;
      font-style: normal;
      font-stretch: normal;
      color: #ffffff;
      text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    }
    
    .header .description{
      font-family: Gotham-Light;
      font-weight: 100;
      font-size: 2em;
      font-style: normal;
      line-height: 1.3;
      letter-spacing: -0.1px;
      text-align: center;
      color: #fbf7f7;
      width: 55%;
      margin: -1em auto 0 auto;
      text-shadow: -2px 2px 9px rgba(0, 0, 0, 0.26);
    }
    
    .header .button{
      /*margin-top: 40px;*/
      margin-top: 2em;
      margin-bottom: 2em;
      /*padding: 32px 60px;*/
      border: 4px solid #e6fa71;
      background-color: transparent;
      font-weight: normal;
      font-size: 2em;
      /*border-radius: 42px;*/
      border-radius: 2.1em;
    }

.button{
    width: 250px;
    max-width: 350px;
    background: #cddc39;
    border-radius: 35px;
    padding: 15px 30px;
    color: white;
    text-align: center;
    display: inline-block;
    -moz-box-shadow: 0px 2px 10px -2px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0px 2px 10px -2px rgba(0,0,0,0.75);
    box-shadow: 0px 2px 10px -2px rgba(0,0,0,0.75);
}

.button:link{
    text-decoration: none;
}
.button:visited{
    color: white;
}
.button:hover{
    background-color: #e6fa71;
    color: #262539;
}